# this file avoid git from tracking some files

# we don't track compiled files
**/*.o
**/*.a
./inst/bin/pomdpx

# we also avoid big data files such as csv
**/*.csv
.Rproj.user

#neither we track R metadata
.R*
